<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:mariadb://10.114.34.5:3306/test_eng?user=testuser&amp;password=123456
        </property>
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <mapping resource="Emoji.hbm.xml"/>
        <mapping class="otp.model.entities.Emoji"/>
        <mapping resource="Mark.hbm.xml"/>
        <mapping class="otp.model.entities.Mark"/>
        <mapping resource="Quote.hbm.xml"/>
        <mapping class="otp.model.entities.Quote"/>
        <mapping resource="Tag.hbm.xml"/>
        <mapping class="otp.model.entities.Tag"/>
        <mapping resource="User.hbm.xml"/>
        <mapping class="otp.model.entities.User"/>
        <mapping resource="Code.hbm.xml"/>
        <mapping class="otp.model.entities.Code"/>
        <mapping resource="Image.hbm.xml"/>
        <mapping class="otp.model.entities.Image"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>